@use "variables";

.characteres {
  padding: 6vw;

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    @media (max-width: 768px) {
      display: inline;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }

    @media (min-width: 769px) and (max-width: 960px) {
      grid-template-columns: repeat(4, 1fr);
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
    }

    &__item {
      display: inline;
      position: relative;
      padding: 10px;
      text-align: center;

      &__img {
        opacity: 1;
        height: 300px;
        cursor: pointer;
        border-radius: 16px;
        display: inline;
        transition: .5s ease;
        -webkit-transition: .5s ease;
        backface-visibility: hidden;
        box-shadow: variables.$imgShadow;


        @media (max-width: 768px) {
          height: 24vh;
        }

        @media (min-width: 769px) and (max-width: 960px) {
          height: 20vh;
        }
      }

      &__text {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;

        p {
          margin: 0;
          padding: 16px;
        }
      }

      &:hover &__img {
        opacity: .7;
      }

      &:hover &__text {
        opacity: 1;
      }
    }
  }
}