@use "variables";

.details {
  padding: 6vw;

  &__container {
    display: flex;

    @media (max-width: 960px) {
      display: block;
    }
  }

  &__poster {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media (max-width: 960px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      width: 300px;
      box-shadow: variables.$imgShadow;

      @media (max-width: 960px) {
        margin-top: 20px;
      }
    }
  }

  &__description {
    padding: 0 30px;

    &__title {
      margin-bottom: 20px;

      @media (max-width: 960px) {
        text-align: center;
        margin-top: 30px;
      }
    }

    &__text {
      @media (max-width: 768px) {
        text-align: justify;
      }
    }

    &__infos {
      div {
        margin: 12px 0;

        p {
          margin: 0;

          &:first-child {
            font-style: italic;
            color: variables.$secondaryTextColor;
          }
        }
      }
    }
  }

  &__elenco {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

    &__title {
      margin-bottom: 20px;

      @media (max-width: 960px) {
        text-align: center;
        margin-top: 30px;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      grid-gap: 20px;

      &__item {
        img {
          width: 100px;
          cursor: pointer;
        }

        p {
          margin: 0;
          padding-top: 4px;
          transition: .1s ease;
        }

        &:hover p {
          color: variables.$secondaryTextColor;

          transition: .1s ease;
        }
      }
    }
  }
}
