@use "variables";

.details {
  padding: 6vw;

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: 1100px) {
      display: block;
    }
  }

  &__poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    @media (max-width: 1100px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    img {
      max-height: 400px;
      -webkit-box-shadow: variables.$imgShadow;
      box-shadow: variables.$imgShadow;

      @media (max-width: 1100px) {
        margin-top: 20px;
      }
    }
  }

  &__description {
    padding: 0 30px;

    &__title {
      margin-bottom: 20px;

      @media (max-width: 1100px) {
        text-align: center;
        margin-top: 30px;
      }
    }

    &__text {
      @media (max-width: 768px) {
        text-align: justify;
      }
    }

    &__infos {
      div {
        margin: 12px 0;

        p {
          margin: 0;

          &:first-child {
            font-style: italic;
            color: variables.$secondaryTextColor;
          }
        }
      }
    }
  }

  &__elenco {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

    &__title {
      margin-bottom: 20px;

      @media (max-width: 1100px) {
        text-align: center;
        margin-top: 30px;
      }
    }

    &__list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: repeat(3, 1fr);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      grid-gap: 20px;

      &__item {
        img {
          width: 100px;
          cursor: pointer;
        }

        p {
          margin: 0;
          padding-top: 4px;
          -webkit-transition: 0.1s ease;
          -o-transition: 0.1s ease;
          transition: 0.1s ease;
        }

        &:hover p {
          color: variables.$secondaryTextColor;
          -webkit-transition: 0.1s ease;
          -o-transition: 0.1s ease;
          transition: 0.1s ease;
        }
      }
    }
  }
}
