@use "variables";

.footer {
  padding: 6vw 6vw 4vw;
  background: variables.$bgColor;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(variables.$bgColor),
    to(variables.$darkColor)
  );
  background-image: -o-linear-gradient(
    top,
    variables.$bgColor 0%,
    variables.$darkColor 100%
  );
  background-image: linear-gradient(
    180deg,
    variables.$bgColor 0%,
    variables.$darkColor 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__btn {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 20px;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
    background-color: variables.$secondaryTextColor;

    &:hover {
      background-color: variables.$mainTextColor;
      -webkit-transition: 0.1s ease;
      -o-transition: 0.1s ease;
      transition: 0.1s ease;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 6px 10px;
    }
  }

  &__image {
    max-width: 112px;

    @media (max-width: 768px) {
      max-width: 96px;
    }
  }

  &__social-links {
    cursor: pointer;

    a {
      text-decoration: none;
      color: variables.$secondaryTextColor;
      margin-left: 18px;
      font-size: 18px;
      -webkit-transition: 0.1s ease;
      -o-transition: 0.1s ease;
      transition: 0.1s ease;

      &:first-child {
        margin: 0;
      }

      &:hover {
        color: variables.$mainTextColor;
        -webkit-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
