@use "variables";

.frame {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: variables.$darkOpacity;
  z-index: 99;

  @media (max-width: 960px) {
    display: none;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;

    &__close {
      i {
        cursor: pointer;
        color: variables.$mainTextColor;
        font-size: 32px;
        position: fixed;
        top: 50px;
        left: 90vw;
      }
    }
  }
}
