@use "variables";

.header {
  position: fixed;
  background-color: variables.$headerBgColor;
  padding: 12px 4vw;
  top: -90px;
  width: 100%;
  transition: top 0.3s;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--active {
    top: 0;
  }

  &__logo {
    img {
      max-width: 60px;

      @media (max-width: 768px) {
        max-width: 50px;
      }
    }
  }

  &__links {
    a {
      &:last-child {
        margin-left: 16px;
      }
    }
  }
}
