.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 36px;
  transition: background-color 0.3s ease-out, padding 0.3s ease-out;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 56px;
    width: 100%;
    margin-top: 8px;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    pointer-events: none;
  }

  &__links {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &--is-hidden {
    background-color: #292058;
    padding: 12px 36px;

    .header {
      &__logo, &__links {
        transition: opacity 0.3s ease-out;
        opacity: 1;
      }
    }
  }
}
