@use "variables";

.review {
  padding: 6vw;

  &__accordion {
    margin: 0;
    padding: 0;

    &__item {
      background-color: variables.$darkColor;
      margin-bottom: 12px;

      &:nth-child(2) {
        img {
          height: 24px;
        }
      }

      &:last-child {
        img {
          height: 30px;
        }
      }

      &__header {
        padding: 24px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &__text {
          img {
            height: 16px;
          }
        }

        i {
          font-size: 18px;
          margin-left: 12px;
          -webkit-transition: 0.4s ease-out;
          -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
          color: variables.$secondaryTextColor;
        }

        &:hover i {
          color: variables.$mainTextColor;
        }

        @media (max-width: 768px) {
          padding-right: 28px;
        }
      }

      &__content {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.4s ease-out;
        -o-transition: max-height 0.4s ease-out;
        transition: max-height 0.4s ease-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        ul {
          padding: 0 40px 24px 44px;

          li {
            list-style: disc;
            padding: 8px 0;
          }
        }
      }

      &--active {
        i {
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
          -webkit-transition: 0.4s ease-out;
          -o-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
        }
      }
    }
  }
}
