@use "variables";

.scenes {
  padding: 6vw;

  &__img {
    max-height: 556px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .slide {
    -webkit-box-shadow: variables.$imgShadow;
    box-shadow: variables.$imgShadow;
  }
}
