$bgColor: #0f0826;
$headerBgColor: #1a1a64;
$buttonColor: #4646e5;
$mainTextColor: #eaf0ff;
$secondaryTextColor: #c7d5fe;
$mainTitleColor: #ffdb6e;
$darkColor: #05030c;
$darkOpacity: #05030ce5;
$imgShadow: $darkOpacity 0px 7px 29px 0px;
