@use "variables";
@use "hero";
@use "header";
@use "characteres";
@use "scrool";
@use "details";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #050409;
  background: linear-gradient(45deg, #050409 0%, #161333 52%, #050409 100%);
  background-attachment: fixed;
}

.button {
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 24px;
  border: 1px solid white;
  transition: 0.3s ease;

  &--secondary {
    background-color: black;
    border-color: black;

    &:hover {
      background-color: lighten(black, 3%);
      transition: 0.3s ease;
    }
  }

  &--dark {
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #000000;
      transition: 0.3s ease;
    }
  }
}
